<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PlanMVMU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <PlanMVMU.Properties.Settings>
      <setting name="DefaultLanguage" serializeAs="String">
        <value>ru-RU</value>
      </setting>
      <setting name="ThemeLesson" serializeAs="String">
        <value>Раздел №2. Учебный фортепианный репертуар</value>
      </setting>
      <setting name="TargetLearning" serializeAs="String">
        <value>совершенствование навыков грамотного разбора нотного текста</value>
      </setting>
      <setting name="TargetDevelopment" serializeAs="String">
        <value>развитие навыков слухового контроля</value>
      </setting>
      <setting name="TargetEducation" serializeAs="String">
        <value>воспитание трудолюбия, ответственного отношения к процессу обучения</value>
      </setting>
      <setting name="FormLesson" serializeAs="String">
        <value>индивидуальная</value>
      </setting>
      <setting name="MethodLearning" serializeAs="String">
        <value>словесный, практический, наглядный, частично-поисковый</value>
      </setting>
      <setting name="LearningTools" serializeAs="String">
        <value>фортепиано, ноты</value>
      </setting>
      <setting name="FirstPart" serializeAs="String">
        <value>Ознакомление с темой урока, постановка его целей и задач</value>
      </setting>
      <setting name="TwoPart" serializeAs="String">
        <value>Ш. Ганон Упражнения и гаммы</value>
      </setting>
      <setting name="SaveUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="StartDate" serializeAs="String">
        <value>2023-09-01</value>
      </setting>
      <setting name="StopDate" serializeAs="String">
        <value>2023-09-01</value>
      </setting>
      <setting name="Prepodavatel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Stop" serializeAs="String">
        <value>False</value>
      </setting>
    </PlanMVMU.Properties.Settings>
  </userSettings>
  <connectionStrings><add name="PlanEntities" connectionString="metadata=res://*/DataBase.Model.csdl|res://*/DataBase.Model.ssdl|res://*/DataBase.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\DataBase\DB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>